<ul class="filter-type">
  <li [class.active]="true">尽调信息</li>
</ul>
<div>
  <div class="course">
    <div class="status_title">交流关键词</div>
    <ul class="prepare-lessonCnt">
      <li class="data-count">
        <span>XXX</span>
        <span>XXX</span>
        <span>XXX</span>
      </li>
      <li class="status">
        <span>XXX</span>
        <span>XXX</span>
        <span>XXX</span>
      </li>
    </ul>
  </div>
  <div class="course">
      <div class="status_title">尽调人员</div>
      <ul class="prepare-lessonCnt">
        <li class="data-count">
          <span>XXX</span>
          <span>XXX</span>
          <span>XXX</span>
        </li>
        <li class="status">
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </li>
      </ul>
    </div>

    <div class="course">
      <div class="status_title">尽调意见</div>
      <ul class="prepare-lessonCnt">
        <li class="data-count">
          <span>组织架构明晰</span>
          <span>投资经理专业</span>
          <span>风控体系完善</span>
        </li>
        <li class="data-count">
          <span>本年度表现</span>
          <span></span>
          <span></span>
        </li>
      </ul>
    </div>
</div>