<body class="bg03">
	<header class="header">
		<h3>企业画像大数据展示</h3>
	</header>
	<div class="wrapper">
		<div class="container-fluid">
			<div class="row fill-h">
				<div class="col-lg-3 fill-h">
					<div class="xpanel-wrapper xpanel-wrapper-2">
						<div class="xpanel">
							<!-- 公司简介 公司规模 -->			
							<app-company-introduction></app-company-introduction>
						</div>
					</div>
					<div class="xpanel-wrapper xpanel-wrapper-2">
						<div class="xpanel">
							<!-- 世界地图 -->
							<app-company-label></app-company-label>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="xpanel-wrapper xpanel-wrapper-5 center-top">
						<div class="xpanel">
							<app-company-quantitative></app-company-quantitative>
							
						</div>
					</div>
					<div class="xpanel-wrapper xpanel-wrapper-6">
						<div class="xpanel">
							<app-company-historydata></app-company-historydata>
							
						</div>
					</div>
				</div>
				<div class="col-lg-3 fill-h">
					<div class="xpanel-wrapper xpanel-wrapper-3">
						<div class="xpanel">
							<!-- 省份地图 -->
							<app-porfolio-managed></app-porfolio-managed>
						</div>
					</div>
					<div class="xpanel-wrapper xpanel-wrapper-3">
						<div class="xpanel">
							<!-- 城市地图 -->
							<app-investment-manager></app-investment-manager>
						</div>
					</div>
					<div class="xpanel-wrapper xpanel-wrapper-3">
						<div class="xpanel">
							<!-- 区县地图 -->
							<app-company-diligencedue></app-company-diligencedue>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>